
.table-column
{   -fx-min-width: 100px;
    min-width: 100px;
    -fx-alignment: CENTER;    
}

.details-delimiter
{
    -fx-label-padding: 5 0 0 0;
}

.details-field
{
    -fx-min-width: 50px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 5 0 5 0;
    -fx-text-fill: gray;
}

.details-field:focused
{
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-text-fill: black;
}

.details-label
{   
    -fx-pref-width: 75;
    -fx-alignment: center-right;
    -fx-label-padding: 5 5 5 5;
    
}